
body {
background-image: url("https://img.freepik.com/premium-photo/vintage-old-background_196038-8986.jpg?w=2000");
}

p {
font-family: 'Franklin Gothic Medium';
line-height: 18px;   
margin-bottom: 15px !important;
}

h1 {
color: #5C4033 !important;
word-spacing: 0.0em !important;
letter-spacing: 0.06em !important;
font-family: 'Franklin Gothic Medium' !important;
}

h2 {
color: #5C4033 !important;
font-family: 'Franklin Gothic Medium' !important;
font-size: 30px !important;
font-weight: bold !important;
margin-top: 100px !important;
margin-bottom: 40px !important;
}

h3,h4 {
font-family: 'Franklin Gothic Medium' !important;
color: #5C4033 !important;
}

div.fig {
float: left !important;
text-align: center !important;
font-style: italic !important;
font-size: smaller !important;
font-family: 'Franklin Gothic Medium';
color: #5C4033;
text-indent: 0 !important;
width: 35% !important;
}

a:link {color: brown !important; }
a:visited {color:brown !important; }
a:hover {color: chocolate !important;}

p.letter, p.right {
font-family: 'Franklin Gothic Medium' !important;
}


tr {
color: #5C4033 !important;
font-family: 'Franklin Gothic Medium' !important;
}
